h1, h2 {
    color: #8d1414; 
    text-align: center;
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    color: rgb(143, 22, 46);
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
p{
    text-align: center;
    color:#8a1212

    
}

    